.container {
  display: flex;
  border: solid 1px #333333;
  background-color: #eeeeee;
  flex-wrap: wrap;
}

.item1 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #FF9B9B;
  margin: 16px 8px;
}

.item2 {
  width: 50px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  background-color: #FFD6A5;
  margin: 16px 8px;
}

.item3 {
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #FFFEC4;
  margin: 16px 8px;
}

.item4 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #CBFFA9;
  margin: 16px 8px;
}

.item5 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #B8E8FC;
  margin: 16px 8px;
}
